body {
  font-family: 'Playfair Display SC', serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.navbar {
  padding: 1.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  padding: 0 1.5 rem;
  font-family: 'Playfair Display SC', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  text-align: right;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* Title */
#title {
  height: 850px;
  background-image: url("../Images/mountain-farm.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.container-fluid {
  padding: 0 0;
  text-align: center;
}

.heading {
  text-align: left;
  margin: 325px 0 0 15px;
}

/* Features */
#features {
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 100px 100px;
}

.feature-box {
  padding: 25px 10px;
}

.features-img {
  width: 200px;
  border-radius: 50%;
  padding: 20px;
}

/* Order */
#order {
  background-color: #9dab86;
  color: #fff;
  text-align: center;
  padding: 100px 0px;
}

.order-title {
  padding: 25px 0;
  font-size: 3rem;
  font-weight: bold;
}

.btn {
  font-family: 'Montserrat', sans-serif;
}

/* Footer Section */
#footer {
  text-align: center;
  padding: 75px 25px;
  background-color: #fff;
}

.footer-icon {
  margin: 20px 10px;
  color: #9dab86;
}

.footer-icon:hover {
  color: #758063;
}

@media (min-width: 1300px) {
  #title {
    height: 850px;
  }

  #features {
    padding-top: 100px;
  }
}

@media (max-width: 1299px) and (min-width: 992px) {
  #title {
    height: 700px;
  }
}

#features {
  padding-top: 75px;
}

@media (max-width: 991px) and (min-width: 800px) {
  #title {
    height: 550px;
  }

  #features {
    padding-top: 75px;
  }
}

@media (max-width: 799px) and (min-width: 631px) {
  #title {
    height: 450px;
  }

  #features {
    padding-top: 75px;
  }

  .heading {
    margin: 200px 0 0 15px;
  }
}

@media (max-width: 630px) {
  #title {
    height: 400px;
  }

  #features {
    padding-top: 50px;
  }

  h1 {
      font-size: 2rem;
  }

  .heading {
    margin: 100px 0 0 15px;
  }
}
